---
- name: Deploy infra via Terraform Cloud (single workspace configured in main.tf)
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - vaults/prod.yml

  vars:
    project_path: "{{ playbook_dir }}/.."
    tf_vars_file: "{{ project_path }}/terraform.tfvars"

  tasks:
    - name: Terraform init (unset TF_WORKSPACE)
      ansible.builtin.command:
        argv:
          - env
          - -u
          - TF_WORKSPACE
          - terraform
          - init
          - -input=false
          - -no-color
      args:
        chdir: "{{ project_path }}"
      register: tf_init
      changed_when: false

    - name: Terraform apply (unset TF_WORKSPACE)
      ansible.builtin.command:
        argv:
          - env
          - -u
          - TF_WORKSPACE
          - terraform
          - apply
          - -auto-approve
          - -input=false
          - -no-color
          - -var-file={{ tf_vars_file }}
      args:
        chdir: "{{ project_path }}"
      register: tf_apply
      changed_when: true

    - name: Show terraform output
      ansible.builtin.debug:
        var: tf_apply.stdout